title{
    color: lightgreen;
    background-color: azure;
    text-align: center;
}

h1{
    color: black;
    background-color: azure;
    text-align: left;
}

h2{
    color: black;
    background-color: azure;
    text-align: left;
}